@model ActivityModel
<h1>Edit</h1>
<body>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div class="form-group">
                <h5>Date</h5>
                <input  class="form-control"  value = "@Model.Date" readonly > 
                <input type ="hidden" name = "id" value = "@Model.ActivityModelId"/>
            </div>
            <div class="form-group">
                <h5>Project Code</h5>
                <input type="text" class="form-control"  value = "@ViewBag.project" readonly/>
            </div>
            <div class="form-group">
                <h5>Project Subcode</h5>
                <input type="text" class="form-control" value = "@ViewBag.subcode" readonly />
            </div>
            <div class="form-group">
                <h5>Time</h5>
                <input type="number" class="form-control" name = "Time" value = "@Model.Time" />
            </div>
            <div class="form-group">
                <h5>Description</h5>
                <input type="text" class="form-control" name = "Description" value = "@Model.Description" />
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<p>
    <a asp-action="List">Back to List</a>
</p>
</body>