@{
    int index = 0;
    DateTime today = DateTime.Today;
}
@model IEnumerable<ProjectPartake>

<h1>@ViewBag.project </h1>
<body>
        @if (!string.IsNullOrEmpty(ViewBag.error))
        {
            <script type="text/javascript">
                alert("@ViewBag.error");
            </script>
        }
        <div class="text">
            <form asp-action="MyProjects" method="get">
            <h5>Year</h5>
            <input type="number" name="Year" min = "2000" max = "2050" value="@today.Year" required>
            <h5>Month</h5>
            <input type="number" name="Month" min = "1" max = "12" value="@today.Month" required>
            <h5>Project Title</h5>
            <input type="text" name="ProjectTitle"  equired>
            <br>
            <input type="submit" value="Search" class="btn btn-primary" />
            </form>
        </div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Worker
            </th>
            <th>
                Year
            </th>
            <th>
                Month
            </th>
            <th>
                Submitted Time
            </th>
            <th>
                Accepted Time
            </th>
            <th>
                Was Submitted?
            </th>
            <th>
                Change Accepted Time
            </th>
        </tr>
    </thead>
    <tbody>
@if(Model != null){
foreach (var item in Model) {
    <form asp-action="Change" >
        <tr>
            <td>
                @item.ProjectPartakeId
            </td>
            <td>
                @ViewBag.workers[index]
            </td>
            <td>
                @item.Year
            </td>
            <td>
                @item.Month
            </td>
            <td>
                @item.SubmittedTime
            </td>
            <td>
            <input type="number" name="Acceptedtime" min = "0" value="@item.AcceptedTime">

            </td>
            <td>
                @item.Submitted
            </td>
            <td>
            @if(@ViewBag.active == true){
                @if(@item.Submitted==true){
                    <input type="hidden" name="ProjectPartakeId" value="@item.ProjectPartakeId" >
                    <input type="hidden" name="ProjectTitle" value="@ViewBag.project" >
                    <input type="hidden" name="Timestamp" value="@item.Timestamp" >
                    <input type="submit" value="Change" class="btn btn-primary" />
                }
            }
            </td>
        </tr>
     </form>
    index += 1;
}
}
    </tbody>
</table>
    <h5> Current Budget: @ViewBag.budget </h5>
    @if(@ViewBag.active == true){
    <form asp-action="CloseProject">
        <input type="hidden" class="form-control"  name = "ProjectId" value="@ViewBag.id" > 
        <input type="submit" value="Close current project" class="btn btn-primary" />
    </form>
    <br>
    }
    <a asp-action="Create" class = "btn btn-primary">Create new project</a>
</body>
