<h1>Edit</h1>
@model EditEntryModel
<div>
    <h3>Index</h3>
    <form asp-route="Edit_info" method="post">
        <p>
            @Model.id
            <input value="@Model.id" type = "hidden" name = "entry.id">

        </p>
        <h5>Date</h5>
        <p>
            @Model.date
            <input value="@Model.date" type = "hidden" name = "entry.date">

        </p>
        <h5>Code</h5>
        <p>
            @Model.code
            <input value="@Model.code" type = "hidden" name = "entry.code">
        </p>
        <h5>Subcode</h5>
        <p>
        <select name="entry.subcode">
                <option value=""></option>
            @foreach (NTR.Entities.Subactivity subactivity in Model.sub_to_choose)
            {
                <option value="@subactivity.code">@subactivity.code</option>
            }
        </select>
        </p>
        <h5>Time</h5>
        <p>
            <input asp-for="@Model.time" name = "entry.time">
        </p>
        <h5>Description</h5>
        <p>
            <input asp-for="@Model.description" name = "entry.description">
        </p>
        <button asp-route="Edit_info">Save Changes</button>
    </form>
</div>
<div>
    <a asp-action="Account">Back to List</a>
</div>