<!DOCTYPE html>
 
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
            <title>Greetings</title>
    </head>
    <body>
        <div class="control">
            <span>Name: </span>
            <span>@ViewBag.Name</span>

        </div>

        <div class="text-center">

            <h4 class="display-8">Project: @Model.SelectedProject | Month: @ViewBag.show_date</h4>
            
        </div>
        <div>
            <form asp-action = "ProjectManagment"  method="get">
            <select name="project" >
                @foreach (var project in Model.my_projects)
                {
                    @if(Equals(Model.SelectedProject, project.code))
                        {
                            <option value="@project.code" selected>@project.code</option> 
                        }
                        else
                        {
                            <option value="@project.code">@project.code</option> 
                        }
                }
            </select>
            <br>
            <select name="member">
                @foreach (string users in Model.users)
                {
                    @if(Equals(Model.SelectedUser, users))
                    {
                        <option value="@users" selected>@users</option> 
                    }
                    else
                    {
                        <option value="@users">@users</option> 
                    }
                }
            </select>
            <br>
            <input type="date" name="date" value="@ViewBag.return_date"> </input>
            <br>
            <button type="submit"> Check Activity for Project</button>
            </form>
        </div>
        <div>
            Reported time: @Model.SelectedUserReportedTime
            <br>
            @if (Model.SelectedUserActivities.frozen == true)
            {
                <h6>Accepted time:</h6>
                if(Model.Active != true)
                {
                    @Model.SelectedUserAcceptedTime            }
                else
                {
                <form asp-route="ProjectManagment" method="post">

                    <input  name = "accepted_time" value="@Model.SelectedUserAcceptedTime" type="number">

                    <input name = "member" type="hidden" value="@Model.SelectedUser">
                    <input name = "month" type="hidden" value="@Model.SelectedMonth">
                    <input name = "project" type="hidden" value="@Model.SelectedProject">
                    <input name = "previous_accepted_time" type="hidden" value="@Model.SelectedUserAcceptedTime">
                    <input name = "budget" type="hidden" value="@Model.Budget">

                    <button type="submit">Change accepted time</button>
                </form>

                <form asp-action = "CloseProject" method="post">
                    <input name = "member" type="hidden" value="@Model.SelectedUser">
                    <input name = "date" type="hidden" value="@Model.SelectedMonth">
                    <input name = "project" type="hidden" value="@Model.SelectedProject">
                    <button type="submit">Close Project</button>
                </form>
                }
            }
        </div>
        Budget: @Model.Budget

    <a asp-action="Account">Back to List</a>

    </body>
</html>
